[Unit]
Description=streamy
After=multi-user.target network-online.target
Requires=multi-user.target network-online.target

[Service]
Type=forking
ExecStart=/bin/sh /storage/.kodi/addons/service.streamy/bin/streamy.start
Restart=on-failure

[Install]
WantedBy=kodi.target
