[Unit]
Description=streamy
After=multi-user.target network-online.target
Requires=multi-user.target network-online.target

[Service]
ExecStartPre=/bin/sleep 5
ExecStart=/bin/sh /storage/.kodi/addons/service.streamy/bin/streamy.start
Restart=always
RestartSec=3

[Install]
WantedBy=kodi.target
